<!doctype html>
<html lang="en" xmlns:th="http://www.thymLeaf.com"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">

    <title>Register Here</title>
  </head>
  <body>
   
  <div th:if=${session.msg}>
	<div class="alert alert-success" role="alert" th:text=${session.msg}>
	<th:block th:text ="${#session.removeAttribute('msg')}"></th:block>
 </div>
 </div>
   
   <div class="container mt-3">
   		<div class="row">
			<div class="col-md-12">
   				<h1 class="text-center mb-3">Register For Debate Here</h1>
   				<div sec:authorize= "isAuthenticated()">
   					Welcome <b><span sec:authentication= "name">username</span></b>&nbsp;
   					<i><span sec:authentication="principal.authorities">Roles</span> </i>
   				</div>
   				
   				<form th:action= "@{/logout}" method= "post">
   					<input type= "submit" value="Logout" />
   				</form>
   				
				<table class="table table-striped">
  					<thead class="thead-dark">
    					<tr>
					      <th scope="col">Id</th>
					      <th scope="col">First Name</th>
					      <th scope="col">Last Name</th>
					      <th scope="col">Course</th>
					      <th scope="col">Country</th>
					      <th scope="col" sec:authorize="hasAnyAuthority('ADMIN')">Action</th>
    					</tr>
  					</thead>
  					<tbody>
					      <tr th:each="st: ${student_list}">
						      <td th:text="${st.id}"></td>
						      <td th:text="${st.first_name}"></td>
						      <td th:text="${st.last_name}"></td>
						      <td th:text="${st.course}"></td>
						      <td th:text="${st.country}"></td>
						      <td sec:authorize="hasAnyAuthority('ADMIN')">
						        <div sec:authorize="hasAnyAuthority('ADMIN')">
						      	  <a class="btn btn-outline-primary" th:href="@{/update/{id}(id=${st.id})}">Edit</a>
						      	  <a class="btn btn-outline-danger" th:href="@{/delete/{id}(id=${st.id})}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</a>
						        </div>
						      </td>
					    </tr> 
					 </tbody>
				</table>
				<div class="container text-center">
					<div sec:authorize="hasAnyAuthority('ADMIN', 'USER')">
						<a href="addStudent"><button type="button" class="btn btn-outline-success">Add Student</button></a>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
  </body>
</html>
   